<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
    <link rel="stylesheet" href="/css/productForm.css">
    <title>Detalles Productos</title>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="bg-dkblue">
            <div class="page-container">
                <div class="input-container-editProduct">
                        <div class="form text-white size size-font-parr">
                            <form action="/products/<%= product.id %>/?_method=PUT" method="post" id="form">
                            <input type="hidden" name="_method" value="PUT">
                            <label for="username">Nombre del Producto:</label>
                            <input type="text" id="nameProduct" name="nombre" value="<%= product.nombre != undefined ?   product.nombre : '' %>" placeholder="Enter your new name product" required><br><hr>
                            <label for="pay">Categoría:</label>
                            <select class="select-estilizado" id="options" name="categoria" >
                              <option value="Accion"<%=product.categoria=='Accion' ? 'selected' : '' %>>Accion</option>
                              <option value="Aventuras"<%=product.categoria=='Aventuras' ? 'selected' : '' %>>Aventura</option>
                              <option value="Rpg"<%=product.categoria=='Rpg' ? 'selected' : '' %>>Rol(RPG)</option>
                              <option value="Estrategia"<%=product.categoria=='Estrategia' ? 'selected' : '' %>>Estrategia</option>
                              <option value="Deportes"<%=product.categoria=='Deportes' ? 'selected' : '' %>>Deportes</option>
                              <option value="Simulacion"<%=product.categoria=='Simulacion' ? 'selected' : '' %>>Simulacion</option>
                              <option value="horror"<%=product.categoria=='Horror' ? 'selected' : '' %>>Horror</option>
                              <option value="otra">Otro</option>
                          </select>
                          <input type="text" id="otraOption" name="categoria" placeholder="Ingrese otra opción" style="display: none;">
                            <br><hr>
                            <label for="imagen">Imagen:</label>
                            <input class="file-imagen" type="file" name="imagen" id="imagen" accept="image/*">
                            <div id="miniatura" style="display: none;"></div>
                            <br><hr>
                            <label for="platform">Preferencias de Plataforma:</label>
                            <select class="select-estilizado" id="options" name="options">
                                <option value="PC" <%=product.plataforma=='pc' ? 'selected' : '' %> >PC</option>
                                <option value="PS/Xbox" <%=product.plataforma=='ps/xbox' ? 'selected' : '' %>>PlayStation, Xbox</option>
                                <option value="Nintendo" <%=product.plataforma=='nintendo' ? 'selected' : '' %> >Nintendo Switch</option>
                                <option value="Mobile" <%=product.plataforma=='mobile' ? 'selected' : '' %> >Dispositivos Moviles</option>
                            </select>
                            <br><hr>
                            <label for="price">Precio $:</label>
                            <input type="number" id="price" name="price" value="<%= product.precio != undefined ?   product.precio : '' %>" step="0.01" min="0" placeholder="Enter your price" required>
                            <br><hr>
                            <label for="description">Descripcion:</label>
                            <textarea class="description-input"type="text" id="description" name="description" placeholder="Enter your description" required><%= product.descripcion != undefined ?   product.descripcion : '' %></textarea><br><hr>
                            <div class="flex">
                                <button class="btn-form pointer text-white bg-limagreen" type="submit">Editar Producto</button>
                                <button class="btn-form pointer text-white bg-red" type="button">Cancelar Edicion</button>
                            </div>
                        </form>
                        </div>
                </div>
            </div>
        </div>
        </section>
    
    </main>
    <%- include('../partials/footer') %>
</body>

</html>