<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/product-detail.css" />
  <title>Producto</title>

  <body class="bg-dkblue">
    <%- include('../partials/header') %>
      <main>
        <section class="detail-product h-100 flex align-center j-content-center">
          <article class="w-100 flex f-direction-column align-center j-content-center detail-art">
            <div class="detail-portada flex align-center j-content-center">

              <img src="<%= detail.image %>" alt="nfs" class="img" />

            </div>
            <div class="detail-info text-white flex f-direction-column align-center">
              <div class="div-game-title">
                <H1 class="tamano-title">
                  <%= detail.name %>
                </H1>
                <span class="text-subtitle">Pc/Windows</span>
              </div>
              <h3>Elige el formato</h3>
              <section class="detail-format bg-limagreen flex f-direction-column align-center j-content-center">
                <a href="" class="formato bg-dark not-link text-white text-center">Fisico<span
                    class="price-format bg-white text-dark">$<%= detail.price %></span></a>
                <a href="" class="formato bg-dark not-link text-white text-center">Digital<span
                    class="price-format bg-white text-dark">$<%= detail.price %></span></a>
              </section>
              <ul class="medio-pago flex align-center j-content-center">
                <li class="visa icon-pago"></li>
                <li class="mastercard icon-pago"></li>
                <li class="hsbc icon-pago"></li>
                <li class="card-icon icon-pago"></li>
              </ul>
              <a href="/products/productCart" class="btn-generic bg-limagreen not-link text-white text-center">COMPRAR
                AHORA</a>
              <% if(isAuthenticated) {%>
                <% if(user.rol.name=="Administrador" ) {%>
                  <form action="/products/<%= detail.id %>?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button class="btn-generic bg-red not-link text-white text-center pointer" type="submit">
                      Eliminar
                    </button>
                    <a class="btn-generic bg-limagreen not-link text-white text-center"
                      href="/products/<%= detail.id %>/edit">Editar</a>
                  </form>
                  <% } }%>
                    <button class="btn-generic bg-limagreen text-white text-center pointer">Comprar como regalo</button>
            </div>
            <div class="poligon-detail__black w-100 bg-dark"></div>
            <div class="poligon-detail w-100 bg-limagreen"></div>
          </article>
        </section>
        <section class="h-100 detail-description flex f-direction-column align-center j-content-center">
          <article class="text-white article-desc flex f-direction-column">
            <h1 class="tamano-title">
              <%= detail.name %>
            </h1>
            <p>
              <%= detail.description %>
            </p>
            <br>

            <% if(detail.categories.length> 0){ %>

              <h2>CATEGORIAS</h2>

              <% detail.categories.forEach(category=> { %>
                <%= category.name %>
                  <br>
                  <% }); } %>
          </article>
          <video class="detail-video" autoplay muted loop>
            <source src="<%= detail.video %>" />
          </video>
        </section>
        <section class="requisitos h-100 flex f-direction-column w-100">
          <div class="title-req w-100 bg-dark flex align-center j-content-space-betwen">
            <h1 class="text-white tamano-title">REQUISITOS</h1>
            <span class="bg-limagreen span-req"></span>
          </div>
          <div class="text-white tablas-req flex f-direction-column">
            <section class="minimo-req bg-dark first-table flex j-content-center align-center f-direction-column">
              <h3>Minimo</h3>
              <table class="text-center text-subtitle">
                <tbody>
                  <tr>
                    <td>Sistema Operativo:</td>
                    <td>
                      <%= detail.requeriment.os_minumum %>
                    </td>
                  </tr>
                  <tr>
                    <td>Procesador:</td>
                    <td>
                      <%= detail.requeriment.processor_minimum %>
                    </td>
                  </tr>
                  <tr>
                    <td>Memoria:</td>
                    <td>
                      <%= detail.requeriment.memory_minimum %>
                    </td>
                  </tr>
                  <tr>
                    <td>Gráficos:</td>
                    <td>
                      <%= detail.requeriment.graphic_minimum %>
                    </td>
                  </tr>
                  <tr>
                    <td>Almacenamiento:</td>
                    <td>
                      <%= detail.requeriment.storage_minimum %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </section>
            <section class="minimo-req req-max flex j-content-center align-center f-direction-column">
              <h3>Recomendado</h3>
              <table class="recomendado text-center">
                <tbody class="text-subtitle">
                  <tr>
                    <td>Sistema operativo:</td>
                    <td>
                      <%= detail.requeriment.os_recommended %>
                    </td>
                  </tr>
                  <tr>
                    <td>Procesador:</td>
                    <td>
                      <%= detail.requeriment.processor_recommended %>
                    </td>
                  </tr>
                  <tr>
                    <td>Memoria</td>
                    <td>
                      <%= detail.requeriment.memory_recommended %>
                    </td>
                  </tr>
                  <tr>
                    <td>Gráficos:</td>
                    <td>
                      <%= detail.requeriment.graphic_recommended %>
                    </td>
                  </tr>
                  <tr>
                    <td>Almacenamiento:</td>
                    <td>
                      <%= detail.requeriment.storage_recommended %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </section>
          </div>
        </section>
      </main>
      <%- include('../partials/footer') %>
  </body>

</html>